version: '{branch}.{build}'
image: Visual Studio 2017
configuration: release
platform: x86
init:
- ps: >-
    $env:commit = $env:appveyor_repo_commit.SubString(0,7)

    Update-AppveyorBuild -Version ("{0}-{1}-{2}" -f $env:appveyor_repo_branch,$env:appveyor_build_number,$env:commit )
environment:
  VSVER: 14.0 
  matrix:
  - MSVC: 15
    RUNTIME_LINKAGE: static
    ICU_VERSION: 57.1
    ICU_LINKAGE: static
    QTDIR: C:\Qt\5.13\mingw73_32
    QT_VERSION: 5.13.2
    QT_LINKAGE: static
install:
- cmd: >-
    choco install doxygen.install

    powershell -Command "(New-Object Net.WebClient).DownloadFile('https://raw.githubusercontent.com/horta/zlib.install/master/install.bat', 'install.bat')"; ./install.bat

    refreshenv

    %QTDIR%\bin\qtenv2.bat

    set QTDIR

    if %QTDIR:_64=%==%QTDIR% ( set ARCH=x86 ) else set ARCH=x64

    if %QTDIR:msvc=%==%QTDIR% g++ --version

    if %QTDIR:msvc=%==%QTDIR% set make=mingw32-make.exe

    if %QTDIR:msvc=%==%QTDIR% %make% --version

    if not %QTDIR:msvc=%==%QTDIR% call "%ProgramFiles(x86)%\Microsoft Visual Studio %VSVER%\VC\vcvarsall.bat" %ARCH%

    if not %QTDIR:msvc=%==%QTDIR% set make=nmake.exe

    if not %QTDIR:msvc=%==%QTDIR% %make% /? > nul

    set QTBIN=%QTDIR%\bin

build_script:
- cmd: >-

    cd c:\projects\ff7tk

    cmake -G Ninja -DDOCS=ON -DWIDGET_GALLERY=ON -DQML_GALLERY=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=ff7tk-continuous-win32 -DZLIB_INCLUDE_DIR="C:\projects\ff7tk\zlib-1.2.11\build" CMakeLists.txt

    ninja install

    move COPYING.TXT ff7tk-continuous-win32\

    copy C:\Ruby193\bin\zlib1.dll ff7tk-continuous-win32\bin\

    windeployqt --compiler-runtime --release ff7tk-continuous-win32\bin\libff7tk.dll

    windeployqt --compiler-runtime --release ff7tk-continuous-win32\bin\ff7tkWidgetGallery.exe

    windeployqt --compiler-runtime --release ff7tk-continuous-win32\bin\ff7tkQmlGallery.exe

    7z a -tzip ff7tk-continuous-win32.zip ff7tk-continuous-win32 -r

artifacts:
- path: ff7tk-continuous-win32.zip
  name: ff7tk
deploy:
- provider: GitHub
  tag: continuous
  description: continuous
  auth_token:
    secure: yG66EEKasiTmuCDPStbz0nVsvcETsQlnpDD2ScfNWUwT81kKfALCVFRTPMrp6R6E
  artifact: ff7tk
  force_update: true
branches:
  except:
    - continuous
    - gh-pages

