name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  main_build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    env:
      BUILD_TYPE: Release
      Qt_Tools: tools_ifw
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
           name: "Linux-Qt5-amd64"
           , os: ubuntu-18.04
           , QT_VERSION: 5.15.2, QT_INST_DIR: /opt
           , extraCmakeConfig: "-DQT_DEFAULT_MAJOR_VERSION=5"
           , packageName: ff7tk-continuous-Qt5-Linux
           , releasePackage: "ff7tk-continuous-Qt5-Linux.tar.xz"
          }
        - {
           name: "Linux-Qt6-amd64"
           , os: ubuntu-20.04
           , QT_VERSION: 6.2.3, QT_INST_DIR: /opt, QT_MODULES: qt5compat
           , extraCmakeConfig: "-DQT_DEFAULT_MAJOR_VERSION=6"
           , packageName: ff7tk-continuous-Qt6-Linux
           , linuxDeployQtPath: "export PATH=$PATH:/opt/Qt/6.2.3/gcc_64/libexec"
           , releasePackage: "ff7tk-continuous-Qt6-Linux.tar.xz"
          }
        - {
            name: "MacOS-Qt5-amd64"
            , os: macos-10.15
            , QT_VERSION: 5.15.2, QT_INST_DIR: /Users/runner
            , extraCmakeConfig: "-DQT_DEFAULT_MAJOR_VERSION=5"
          }
        - {
            name: "MacOS-Qt6-amd64"
            , os: macos-10.15
            , QT_VERSION: 6.2.3, QT_INST_DIR: /Users/runner, QT_MODULES: qt5compat
            , extraCmakeConfig: "-DQT_DEFAULT_MAJOR_VERSION=6"
          }
        - {
            name: "Windows-Qt5-x64", WIN_ARCH: "x64"
            , os: windows-2019
            , QT_VERSION: 5.15.2, QT_INST_DIR: "C:/", QT_ARCH: win64_msvc2019_64
            , install_depends: "choco install ninja doxygen.install graphviz --ignore-checksums"
            , extraCmakeConfig: "-DZLIB_ROOT=C:/zlib -G Ninja -DQT_DEFAULT_MAJOR_VERSION=5"
          }
        - {
            name: "Windows-Qt6-x64", WIN_ARCH: "x64"
            , os: windows-2019
            , QT_VERSION: 6.2.3, QT_INST_DIR: "C:/", QT_ARCH: win64_msvc2019_64, QT_MODULES: qt5compat
            , extraCmakeConfig: "-DZLIB_ROOT=C:/zlib -G Ninja -DQT_DEFAULT_MAJOR_VERSION=6"
          }
        - {
            name: "Windows-Qt5-x86"
            , os: windows-2019, WIN_ARCH: "amd64_x86"
            , QT_VERSION: 5.15.2, QT_INST_DIR: "C:/", QT_ARCH: win32_msvc2019
            , extraCmakeConfig: "-DZLIB_ROOT=C:/zlib -G Ninja -DQT_DEFAULT_MAJOR_VERSION=5"
          }


    steps:
    - uses: actions/checkout@v2

    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v2
      with:
        path: ${{matrix.config.QT_INST_DIR}}/Qt
        key: ${{ runner.os }}${{ matrix.config.WIN_ARCH }}-qt-${{ matrix.config.QT_VERSION }}-${{ env.Qt_Tools }}

    - name: Cache Zlib
      id: cache-zlib
      if: runner.os == 'Windows'
      uses: actions/cache@v2
      with:
        path: |
          C:/zlib
          D:/a/ff7tk/ff7tk/build/src/utils/zlib.dll
        key: ${{ runner.os }}${{ matrix.config.WIN_ARCH }}-zlib2

    - name: Cache Chocolatey
      id: cache-choco
      if: (runner.os == 'Windows')
      uses: actions/cache@v2
      with:
        path: |
            C:\ProgramData\chocolatey\lib
            C:\Program Files\doxygen
            C:\Program Files\Graphviz
        key: cache-chocolatey-${{ matrix.config.WIN_ARCH }}${{ hashFiles('**/dependencies.config') }}

    - name: Env Script (Windows)
      uses: ilammy/msvc-dev-cmd@v1
      if: runner.os == 'Windows'
      with:
        arch: ${{matrix.config.WIN_ARCH}}

    - name: Install Dependencies
      if: ((runner.os == 'Windows') && (steps.cache-choco.outputs.cache-hit != 'true')) || (runner.os != 'Windows')
      shell: bash
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get update > /dev/null && sudo apt-get install -qqq doxygen graphviz devscripts > /dev/null
        elif [ "$RUNNER_OS" == "Windows" ]; then
            choco install ninja doxygen.install graphviz --ignore-checksums
        else
            brew install doxygen graphviz
        fi

    - name: Install Qt
      uses: jurplel/install-qt-action@v2.14.0
      with:
       aqtversion: ==2.0.0
       py7zrversion: ==0.16.2
       dir: ${{matrix.config.QT_INST_DIR}}
       arch: ${{ matrix.config.QT_ARCH }}
       version: ${{ matrix.config.QT_VERSION }}
       modules: ${{ matrix.config.QT_MODULES }}
       cached: ${{ steps.cache-qt.outputs.cache-hit }}
       tools: 'desktop,tools_ifw,qt.tools.ifw.42'

    - name: Install Zlib (Windows)
      if: (runner.os == 'Windows') && (steps.cache-zlib.outputs.cache-hit != 'true')
      run: |
        git clone -q --branch=v1.2.11 https://github.com/madler/zlib ${{github.workspace}}\zlib-git
        cmake -S${{github.workspace}}\zlib-git -B${{github.workspace}}\zlib-git\build -G Ninja -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_INSTALL_PREFIX=C:/zlib
        cmake --build ${{github.workspace}}\zlib-git\build --config ${{env.BUILD_TYPE}}
        cmake --install ${{github.workspace}}\zlib-git\build --strip
        mkdir D:\a\ff7tk\ff7tk\build\src\utils
        copy "C:\zlib\bin\zlib.dll" D:\a\ff7tk\ff7tk\build\src\utils

    - name: Build ff7tk
      id: main_build
      run: |
        cmake -S. -Bbuild -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DWIDGET_GALLERY=ON -DQML_GALLERY=ON -DDOCS=ON -DCPACK_PACKAGE_VERSION=continuous ${{matrix.config.extraCmakeConfig}}
        cmake --build build --config ${{env.BUILD_TYPE}} --target package

    - name: Deployment (Linux)
      if: runner.os == 'Linux'
      run: |
        mkdir -p ${{matrix.config.packageName}}/usr ff7tk
        tar -xf build/ff7tk-*.tar.gz -C ${{matrix.config.packageName}}/usr
        cp -r ${{matrix.config.packageName}}/* ff7tk/
        rm -rf ff7tk/usr/bin
        wget -qc "https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage"
        wget -qc "https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-x86_64.AppImage"
        chmod a+x linuxdeploy*.AppImage
        rm -rf ff7tk/usr/share/applications ff7tk/usr/share/pixmaps
        export VERSION=continuous
        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:${{matrix.config.packageName}}/usr/lib
        ${{matrix.config.linuxDeployQtPath}}
        ./linuxdeploy-x86_64.AppImage --appdir=widgetGallery --plugin=qt --output appimage \
            -e ${{matrix.config.packageName}}/usr/bin/ff7tkWidgetGallery \
            -d ${{matrix.config.packageName}}/usr/share/applications/ff7tkWidgetGallery.desktop \
            -i ${{matrix.config.packageName}}/usr/share/pixmaps/ff7tkWidgetGallery.png
        export QML_SOURCES_PATHS=ff7tkQmlGallery
        ./linuxdeploy-x86_64.AppImage --appdir=qmlGallery --plugin=qt --output appimage \
            -e ${{matrix.config.packageName}}/usr/bin/ff7tkQmlGallery \
            -d ${{matrix.config.packageName}}/usr/share/applications/ff7tkQmlGallery.desktop \
            -i ${{matrix.config.packageName}}/usr/share/pixmaps/ff7tkQmlGallery.png
        mv ff7tk*.AppImage ${{matrix.config.packageName}}/
        mv ff7tk/usr/COPYING.TXT ${{matrix.config.packageName}}/
        mv ff7tk/ ${{matrix.config.packageName}}
        rm -rf ${{matrix.config.packageName}}/usr
        tar -zcvf build/${{ matrix.config.releasePackage}} ${{matrix.config.packageName}}

    - name: Deploy Pages
      if: runner.os == 'Linux' && github.ref == 'refs/heads/master' && matrix.config.QT_VERSION == '5.15.2'
      uses: JamesIves/github-pages-deploy-action@4.1.4
      with:
       branch: gh-pages
       folder: build/docs/html

    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        path: ${{ github.workspace }}/build/ff7tk[-_]*.*

  container_build:
    # The host should always be linux
    runs-on: ubuntu-latest
    name: ${{matrix.config.name}}

    strategy:
      fail-fast: false
      matrix:
        config:
        - {
           name: "Linux-Qt6-aarch64"
           , qt: 6, qtString: "Qt6", cmakeExtraConfig: "-DQT_DEFAULT_MAJOR_VERSION=6"
           , arch: aarch64, distro: archarm_latest
          }
        - {
           name: "Linux-Qt5-aarch64"
           , qt: 5, qtString: "Qt5", cmakeExtraConfig: "-DQT_DEFAULT_MAJOR_VERSION=5"
           , arch: aarch64, distro: bullseye
          }
        - {
           name: "Linux-Qt5-armv7"
           , qt: 5, qtString: "Qt5", cmakeExtraConfig: "-DQT_DEFAULT_MAJOR_VERSION=5"
           , arch: armv7, distro: bullseye
          }

    steps:
      - uses: actions/checkout@v2.1.0
        
      - uses: uraimo/run-on-arch-action@v2.1.1
        name: Build artifact
        id: build
        with:
          arch: ${{ matrix.config.arch }}
          distro: ${{ matrix.config.distro }}
          githubToken: ${{ github.token }}
          setup: mkdir -p "${PWD}/artifacts"
          dockerRunArgs: --volume "${PWD}/artifacts:/artifacts"
          shell: /bin/sh
          install: |
            case "${{ matrix.config.distro }}" in
              bullseye)
                apt-get update -y
                apt-get upgrade -y
                apt-get install -y build-essential git zlib1g-dev wget doxygen graphviz qtbase5-dev qttools5-dev-tools qtbase5-dev-tools qt5-qmake qtdeclarative5-dev devscripts libssl-dev qttools5-dev qtquickcontrols2-5-dev
                wget https://github.com/sithlord48/fresh-debian-cmake/releases/download/3.22.1/cmake-3.22.1-bullseye_${{matrix.config.arch}}.tar.gz
                tar -xf cmake-3.22.1-bullseye_${{matrix.config.arch}}.tar.gz --strip-components=3 --one-top-level=/usr
                ;;
              arch*)
                pacman -Syu --noconfirm
                pacman -S base-devel cmake git zlib wget doxygen qt6-tools qt6-base qt6-5compat qt6-declarative clang graphviz --noconfirm
              ;;
            esac

          run: |
            cmake -S. -Bbuild -DCMAKE_BUILD_TYPE=Release -DDOCS=ON -DWIDGET_GALLERY=ON -DQML_GALLERY=ON -DCPACK_PACKAGE_VERSION=continuous ${{matrix.config.cmakeExtraConfig}}
            cmake --build build --config Release --target package
            mv build/ff7tk* /artifacts/
            rm /artifacts/ff7tk.pc

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: ff7tk-container-artifact
          path: artifacts/ff7tk[-_]*.*

  release_assets:
    name: Release
    needs: [main_build, container_build]
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
    - name: Download Files
      uses: actions/download-artifact@v2

    - name: Deploy Package
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
       repo_token: "${{ secrets.DEPLOYTOKEN }}"
       automatic_release_tag: "continuous"
       prerelease: false
       title: "Continuous Build"
       files: |
         artifact/*
         ff7tk-container-artifact/*
